p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: white;
}

body{
    background-image: url('lsbg.png');
    
}

main{
   margin: 0 100px 100px 100px;
}

a{
  color: white;
}

a:hover{
  color:#8e8e8e;
}

#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }

  #img-caption{
    text-align: center;
    font-size: 24px;
    padding-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
  }

  #tribute-info{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 25px;
    padding: 15px 0 15px ;    
  }

  #title{
    text-align: center;
    font-size: 50px;
    color: white;
  }

  #img-div{
    background-color: #8e8e8e;
    opacity: 85%;
    color: white;
  }
  
  #trivia{
    text-align: center;
    font-size: 34px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding-top: 50px;
  }

  #tribute-trivia{
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 50px;
    color: white;

  }
  
  #info{
    background-color: #8e8e8e;
    opacity: 85%;
  }

#quote{
  font-size: 38px;
  padding-right: 70px;
}